<form nz-form [nzLayout]="'inline'" [formGroup]="paymentForm">
  <nz-form-item>
    <nz-form-label>Наименование платежа</nz-form-label>
    <nz-form-control>
      <input nz-input formControlName="paymentName">
      <nz-form-explain
        *ngIf="paymentForm.get('paymentName').dirty&&paymentForm.get('paymentName').hasError('required')">Пожалуйста
        укажите название платежа
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label>Стоимость за день</nz-form-label>
    <nz-form-control>
      <nz-input-number formControlName="paymentPrice" [nzMin]="0" [nzStep]="1"></nz-input-number>
      <nz-form-explain
        *ngIf="paymentForm.get('paymentPrice').dirty&&paymentForm.get('paymentPrice').hasError('required')">Пожалуйста
        укажите стоимость
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <button nz-button nzType="primary" [disabled]="!paymentForm.valid" (click)="clickAddPayment()">Добавить</button>
    </nz-form-control>
  </nz-form-item>
</form>
