<nz-layout class="layout">
  <nz-header>
    <h1>Состояние платежей</h1>
  </nz-header>
  <nz-content>
    <app-add-payment [paymentForm]="paymentForm" (addPayment)="addPayment()"></app-add-payment>
    <app-payments-table [paymentsForm]="paymentsForm" [months]="months" (removePayment)="removePayment($event)"
                        (updateTotal)="updateTotal()"></app-payments-table>
    <p>Израсходовано средств: <b>{{total}}</b></p>
  </nz-content>
</nz-layout>
