<form [formGroup]="paymentsForm">
  <nz-table formArrayName="payments" #paymentsTable [nzData]="paymentsForm.value.payments" nzBordered
            [nzPageSize]="5">
    <thead>
    <tr>
      <th>Наименование платежа</th>
      <th>Стоимость за день</th>
      <th *ngFor="let month of months">{{month}}</th>
      <th>Удалить</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let payment of paymentsTable.data; let i = index;">
      <td>{{payment.name}}</td>
      <td>{{payment.price}}</td>
      <td *ngFor="let monthControl of payment.months.controls">
        <label nz-checkbox [formControl]="monthControl" (nzCheckedChange)="clickUpdateTotal()"></label>
      </td>
      <td>
        <button nz-button nzShape="circle" (click)="clickRemovePayment(i)"><i nz-icon type="close" theme="outline"></i>
        </button>
      </td>
    </tr>

    </tbody>
  </nz-table>
</form>
